$background: hsl(225, 100%, 94%);
$button_color: hsl(245, 75%, 52%);
$very: hsl(225, 100%, 98%);
$berry: hsl(224, 23%, 55%);
$title: hsl(223, 47%, 23%);

.background-image {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   display: grid;
   place-content: center;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
  }

.order-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: -25%;
    
    width: 30%;
    
    background-color: white;

    position: relative;
 
    border-radius: 12px;
       
    padding-left: 9px;
    padding-right: 9px;
}

.order-body h1{
    color: $title;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    
}

.top-image img {
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 12px 12px 0 0;
}

body {
    background-color: $background;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 1.5em;
}

.change {
    background-color: inherit;
    border: none;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    color:hsl(245, 75%, 52%);
    
}

.change:hover{
    color:hsl(224, 23%, 55%);
}

.proceed {
    
background-color: $button_color;
  border: none;
  color: $very;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  border-radius: 8px;

  font-family: "red hat display", sans-serif;

  box-shadow: 8px 8px 11px 1px $berry;

  margin-bottom: 30px;
}

.proceed:hover{
    background-color:hsl(245, 75%, 65%);
}


.checkout-details{
    background-color: $very;
    color: $berry;
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    flex-direction: row;
    width: 70%;
    border-radius: 8px;
    
    .left{
        margin: auto;
    }
    .middle{
        margin-right:4em;
        line-height: 40%;
    }
    .right{ 
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
    }
}

.checkout-details a{
    color:hsl(223, 47%, 23%);
}

.checkout-details .annual-plan{
    color: $title;
}

.checkout-text{
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
    line-height: 150%;
    color: $berry;
}

.cancel-order{
    margin-bottom: 40px;

    a {
        text-decoration: none;
        color:$berry;
        font-family: "red hat display", sans-serif;
        font-weight: 700;
    }

    a:hover{
        color: $title;
    }
}


.attribution{
    margin-top: 5%;
    color: $berry;
    display: block;
    justify-content: center;
    align-items: flex-end;
}